<%- include("partials/head.ejs"); -%>

<!-- home -->
<div class="position-absolute top-50 start-50 translate-middle row justify-content-center">
    
    <div class="card text-bg-light text-center mb-3" style="width: 18rem;">
        <div class="card-body">
          <h3 class="card-title font3">Social App 🥳</h3>
          <p class="card-text">Let's start 🤩</p>
          <p class="card-text"><a href="/dashboard" class="btn btn-sm btn-dark">Check quotes</a></p>
          <a href="/register" class="btn btn-primary btn-sm font3">Register</a>
          <a href="/login" class="btn btn-primary btn-sm font3">Login</a>
        </div>
      </div>

</div>

<%- include("partials/footer.ejs"); -%>
    
    


