@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600&family=Poppins:wght@100;300;400;600&family=Secular+One&display=swap');

.font1 {
    font-family: 'Dosis', sans-serif;
}

.font2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.font3 {
    font-family: 'Secular One', sans-serif;
}

.font4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

* {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
}

.no-decor {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}